.top-panel-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-references {
    display: flex;
    flex-wrap: wrap;
    gap: 55px;
    padding: 50px 120px;
}

.reference {
    width: 200px;
    height: 200px;
    position: relative;
}