{% extends "layout.html" %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static "references/css/index.css" %}">
{% endblock style %}

{% block title %}Artist References. Home{% endblock title %}

{% block main %}
    <form class="index-page" method="POST">
        {% csrf_token %}
        <section class="segment segment_gradient">
            <h3 class="title-segment">Settings</h3>

            <div class="form-index-block">
                <label for="mode-1">
                    <input type="radio" name="mode" id="mode-1" value="standard" checked>
                    Standard
                </label>

                 <label for="mode-2">
                    <input type="radio" name="mode" id="mode-2" value="errors">
                    Work on mistakes
                </label>

                 <label for="mode-3">
                    <input type="radio" name="mode" id="mode-3" value="improvement">
                    Improvement
                </label>

                 <label for="mode-4">
                    <input type="radio" name="mode" id="mode-4" value="news">
                    Only new ones
                </label>

                <div class="form-index-block__tags">
                    <label for="tags">Included tags:</label>    
                    <select name="tags" id="tags" multiple>
                        {% for tag in tags %}
                            <option value="{{ tag.id }}">{{ tag.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </section>

        <section class="segment segment_center">
            <input type="submit" value="Draw" class="btn-main">
        </section>
    </form>
{% endblock main %}
