{% extends "layout.html" %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static "references/css/index.css" %}">
{% endblock style %}

{% block title %}Artist References. Home{% endblock title %}

{% block main %}
    <div class="index-page">
        <section class="segment segment_gradient">
            <h3 class="title-segment">Settings</h3>

            <div class="radio-block">
                <label for="mode-1">
                    <input type="radio" name="mode" id="mode-1" value="standard" checked>
                    Standard
                </label>

                 <label for="mode-2">
                    <input type="radio" name="mode" id="mode-2" value="errors">
                    Work on mistakes
                </label>

                 <label for="mode-3">
                    <input type="radio" name="mode" id="mode-3" value="improvement">
                    Improvement
                </label>

                 <label for="mode-4">
                    <input type="radio" name="mode" id="mode-4" value="news">
                    Only new ones
                </label>
            </div>
        </section>

        <section class="segment segment_center">
            <button class="btn-main">Draw</button>
        </section>
    </div>
{% endblock main %}
