{% extends "layout.html" %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static "references/css/list_refs.css" %}">
{% endblock style %}

{% block title %}Artist References. List references{% endblock title %}

{% block main %}
    <div class="list-page">
        <div class="top-panel-page">
            <form method="post">
                {% csrf_token %}
                <input type="text" name="search" id="field-search" placeholder="Search">
            </form>

            <a href="{% url "create_reference" %}" class="btn-main">Add Reference</a>
        </div>

        <div class="container-references">
            {% for ref in references %}
                <div class="reference">
                    <img src="{{ ref.image_card.url }}" alt="{{ ref.title }}">

                    <a href="{% url "edit_reference" ref.id %}" class="icon icon_edit">
                        <img src="{% static "img/edit.png" %}" alt="edit">
                    </a>

                    <a href="" class="icon icon_delete">
                        <img src="{% static "img/delete.png" %}" alt="delete">
                    </a>
                </div>
            {% endfor %}

            {% if references.has_previous %}
                <a href="?page={{ references.previous_page_number }}" class="paginator-btn paginator-btn_left"></a>
            {% endif %}

            {% if references.has_next %}
                <a href="?page={{ references.next_page_number }}" class="paginator-btn paginator-btn_right"></a>
            {% endif %}
        </div>
    </div>
{% endblock main %}
