@font-face {
    font-family: "Main";
    src: url("/static/fonts/Garamond.otf");
}

@font-face {
    font-family: "Title";
    src: url("/static/fonts/Mincho.ttf");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Main";
    font-size: 18px;
}

input[type="text"], input[type="password"] {
    border: none;
    height: 55px;
    padding: 10px 50px;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0px 0px 5.2px 0px rgba(0, 0, 0, 0.70) inset;
    font-family: "Main";
    font-size: 18px;
}

input:focus {
    border-color: #C70176;
}

option {
    font-family: "Main";
    font-size: 18px;
    padding: 5px 20px;
}

.segment {
    flex-grow: 1;
    padding: 30px 50px;
}

.segment_gradient {
    background: linear-gradient(154deg, #63688E 0%, #BF78AA 100%);
}

.segment_center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-segment {
    color: white;
    text-align: center;
    font-family: "Title";
    letter-spacing: 3px;
    font-size: 20px;
}

.btn-main {
    font-size: 20px;
    width: 280px;
    font-family: "Title";
    height: 70px;
    padding: 20px 50px;
    border: none;
    background: url("/static/img/btn.png");
    background-repeat: no-repeat;
    cursor: pointer;
    transition: 200ms;
}

.btn-main_a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-main:hover {
   transform: scale(1.1, 1.1);
   color: white;
}

.btn-func {
    padding: 12px 40px;
    border-width: 3px;
    border-style: solid;
    border-radius: 30px;
    background-color: transparent;
    transition: 200ms;
    cursor: pointer;
    font-family: "Title";
    min-width: 200px;
}

.btn-func_a {
    text-align: center;
    font-size: 14px;
}

.btn-func_blue {
    border-color: rgb(74, 74, 255);
}

.btn-func_blue:hover {
    background-color: rgb(74, 74, 255);
}

.btn-func_red {
    border-color: rgb(255, 74, 74);
}

.btn-func_red:hover {
    background-color: rgb(255, 74, 74);
}

.btn-func_green {
    border-color: rgb(74, 255, 74);
}

.btn-func_green:hover {
    background-color: rgb(74, 255, 74);
}

.btn-func_orange {
    border-color: rgb(255, 255, 74);
}

.btn-func_orange:hover {
    background-color: rgb(255, 255, 74);
}

.btn-func_violet {
    border-color: rgb(255, 74, 255);
}

.btn-func_violet:hover {
    background-color: rgb(255, 74, 255);
}

.index-page {
    height: 100%;
    display: flex;
    gap: 50px;
}

.value {
    font-size: 20px;
}
