.form-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-page__title {
    font-family: "Title";
    margin-bottom: 2em;
}

.form-page__form {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.field {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
}

.field__line {
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
}

.form-page__submit {
    align-self: center;
    margin-top: 1em;
}

.form__panel {
    display: flex;
    gap: 1em;
}
