.statistics-block {
    display: flex;
    flex-direction: column;
    padding: 0 20px; 
}

.statistics-block_total {
    color: white;
    gap: 20px;
    margin-top: 35px;
    padding-right: 60px;
}

#title-active-tag {
    margin: 20px 0 10px;
    border-bottom: 2px solid #C70176;
    padding: 0 3em;
}

.statistics-block_tag {
    display: none;
    align-self: stretch;
    padding-right: 100px;
}

.statistics-block_tag_active {
    display: flex;
}

.statistics-block__line {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
