{% extends "layout.html" %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static "statistic/css/index.css" %}">
{% endblock style %}

{% block title %}Artist Statistics. Statistics{% endblock title %}

{% block main %}
    <div class="index-page">
        <section class="segment segment_gradient">
            <h3 class="title-segment">Total statistics</h3>

            <div class="statistics-block statistics-block_total">
                <div class="statistics-block__line">
                    <span>Total attempts:</span>
                    <span class="value">{{ total.attempts }}</span>
                </div>

                <div class="statistics-block__line">
                    <span>Images:</span>
                    <span class="value">{{ total.images }}</span>
                </div>

                <div class="statistics-block__line">
                    <span>News:</span>
                    <span class="value">{{ total.new }}</span>
                </div>

                <div class="statistics-block__line">
                    <span>Fails:</span>
                    <span class="value">{{ total.fail }}</span>
                </div>

                <div class="statistics-block__line">
                    <span>Errors:</span>
                    <span class="value">{{ total.error }}</span>
                </div>

                <div class="statistics-block__line">
                    <span>Success:</span>
                    <span class="value">{{ total.success }}</span>
                </div>

                <div class="statistics-block__line">
                    <span>Masterpieces:</span>
                    <span class="value">{{ total.masterpiece }}</span>
                </div>
            </div>
        </section>

        <section class="segment segment_center">
            <h3 class="title-segment title-segment_black">Tags</h3>

            <div class="container-canvas">
                <canvas id="chart-tags"></canvas>
            </div>

            <h4 id="title-active-tag"></h4>

            {% for tag in tags %}
                <div class="statistics-block statistics-block_tag" data-id="{{ tag.id }}">
                    <div class="statistics-block__line">
                        <span>Attempts:</span>
                        <span class="value">{{ tag.attempts }}</span>
                    </div>

                    <div class="statistics-block__line">
                        <span>News:</span>
                        <span class="value">{{ tag.new }}</span>
                    </div>

                    <div class="statistics-block__line">
                        <span>Fails:</span>
                        <span class="value">{{ tag.fail }}</span>
                    </div>

                    <div class="statistics-block__line">
                        <span>Errors:</span>
                        <span class="value">{{ tag.error }}</span>
                    </div>

                    <div class="statistics-block__line">
                        <span>Success:</span>
                        <span class="value">{{ tag.success }}</span>
                    </div>

                    <div class="statistics-block__line">
                        <span>Masterpieces:</span>
                        <span class="value">{{ tag.masterpiece }}</span>
                    </div>
                </div>
            {% endfor %}
        </section>
    </div>    
{% endblock main %}

{% block script %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.1/dist/chart.umd.min.js"></script>
    <script src="{% static "statistic/js/index.js" %}"></script>
{% endblock script %}
