{% extends "layout.html" %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static "statistic/css/index.css" %}">
{% endblock style %}

{% block title %}Artist Statistics. Statistics{% endblock title %}

{% block main %}
    <div class="index-page">
        <section class="segment segment_gradient">
            <h3 class="title-segment">Total statistics</h3>

            <div class="statistics-block statistics-block_total">
                {% for stat in total.values %}
                    <div class="statistics-block__line">
                        <span>{{ stat.label }}</span>
                        <span class="value">{{ stat.value }}</span>
                    </div>
                {% endfor %}
            </div>
        </section>

        <section class="segment segment_center">
            <h3 class="title-segment title-segment_black">Tags</h3>

            <div class="container-canvas">
                <canvas id="chart-tags"></canvas>
            </div>

            <h4 id="title-active-tag"></h4>

            {% for tag in tags %}
                <div class="statistics-block statistics-block_tag" data-id="{{ tag.id }}">
                    {% for stat in tag.values %}
                        <div class="statistics-block__line">
                            <span>{{ stat.label }}</span>
                            <span class="value">{{ stat.value }}</span>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </section>
    </div>    
{% endblock main %}

{% block script %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.1/dist/chart.umd.min.js"></script>
    <script src="{% static "statistic/js/index.js" %}"></script>
{% endblock script %}
