{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="wrap">
        <header>
            <p id="active-section">{{ active_section }}</p>
            {% if part == "main" %}
                <a href="{% url "index" %}" class="menu-btn" id="index"><h2>Home</h2></a>
                <a href="{% url "statistics" %}" class="menu-btn" id="statistics"><h2>Statistics</h2></a>
                <a href="{% url "references" %}" class="menu-btn" id="references"><h2>References</h2></a>
                <a href="{% url "tags" %}" class="menu-btn" id="tags"><h2>Tags</h2></a>
            {% endif %}

            {% if part == "login" %}
                <a href="{% url "login" %}" class="menu-btn" id="login"><h2>Login</h2></a>
                <a href="{% url "register" %}" class="menu-btn" id="register"><h2>Registration</h2></a>
            {% endif %}
        </header>

        <main>
            <div class="main-window">
                {% block main %}{% endblock main %}
            </div>
        </main>
    </div>

    <img src="{% static "img/blot_1.png" %}" class="blot blot_top">
    <img src="{% static "img/blot_2.png" %}" class="blot blot_bottom">

    {% if user.is_authenticated %}
        <div class="auth-block">
                Welcome, {{ user.get_username }}
                <form action="{% url "logout" %}" method="post">
                    {% csrf_token %}
                    <input type="submit" value="Logout" class="auth-block__btn auth-block__logout">
                </form>

                {% if user.is_superuser %}
                    <a href="/admin/" class="auth-block__btn">Admin panel</a>
                {% endif %}
        </div>
    {% endif %}

    <script src="{% static "js/layout.js" %}"></script>
{% endblock content %}
